.profile__info {
  max-width: 336px;
  display: flex;
  flex-wrap: wrap;
  padding-right: 244px;
}

@media screen and (max-width: 900px) {
  .profile__info {
    margin: auto;
    width: 100%;
    padding-right: 0;
    padding-top: 26px;
    padding-bottom: 33px;
    justify-content: center;
  }
}
