.place__heart {
  width: 22px;
  height: 19px;
  border: none;
  background: url(../../../images/like.svg) center no-repeat;
  padding: 0;
}

.place__heart:hover {
  opacity: 0.5;
  cursor: pointer;
}
